[submodule "vendor/benchmark"]
	path = vendor/benchmark
url=https://github.com/google/benchmark.git
[submodule "vendor/optional"]
	path = vendor/optional
	url = https://github.com/TartanLlama/optional.git
[submodule "vendor/range-v3"]
	path = vendor/range-v3
	url = https://github.com/ericniebler/range-v3.git
[submodule "vendor/ficapi"]
	path = vendor/ficapi
	url = https://github.com/ThePhD/ficapi.git
[submodule "vendor/Catch2"]
	path = vendor/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "out_ptr"]
	path = out_ptr
	url = https://github.com/ThePhD/out_ptr
